@import "src/app/shared/styles/base.bootstrap";

$nav-border-width: 2px;

nav {
    position: relative;
    border-style: solid;
    border-color: #fa6b4b;

    border-width: 0 0 0 $nav-border-width;

    background-color: rgba(244, 244, 241, 0.38);
    padding: 1rem 0;
    align-items: stretch;

    @include media-breakpoint-up(lg) {
        border-width: $nav-border-width 0 0 0;
        padding: 0 1rem;
    }

    .navbar-brand {
        color: rgba(255, 255, 255, 0.9);
        padding: 1em 1em;
    }

    li {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0;

        &.active {
            // border-bottom: 2px solid #0dadb7;

            // &::before {
            //     content: "";
            //     position: absolute;
            //     width: 0;
            //     height: 0;
            //     top: 50%;
            //     left: 0;
            //     border-style: solid;
            //     border-width: 10px 0 10px 10px;
            //     border-color: transparent transparent transparent #fa6b4b;
            //     transform: translateY(-50%);

            //     @include media-breakpoint-up(lg) {
            //         border-width: 10px 10px 0 10px;
            //         border-color: #fa6b4b transparent transparent transparent;
            //         left: 50%;
            //         transform: translateX(-50%);
            //         top: 0;
            //     }
            // }

            a {
                color: rgba(255, 255, 255, 0.9);

                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        a {
            color: rgba(255, 255, 255, 0.5);
            padding: 1em 1em;

            &:hover {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    #navClickArrow {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent #fa6b4b;
        transform: translateX(-50%);
        border-width: 10px 10px 0 10px;
        border-color: #fa6b4b transparent transparent transparent;
        top: 0;

        $animation-duration: 0.2s;
        $animation-function: ease-out;
        @include transition(
            left $animation-duration $animation-function
        );
    }

    #navSelectBar {
        position: absolute;
        background-color: #0dadb7;
        height: 2px;
        bottom: 0;
        transform: scaleX(0);

        $animation-duration: 0.2s;
        $animation-function: cubic-bezier(0.0, 0.0, 0.2, 1);
        @include transition(
            transform $animation-duration, 
            width $animation-duration $animation-function, 
            left $animation-duration $animation-function
        );
    }

    ul:hover {
        #navSelectBar {
            transform: scaleX(1);
        }
    }
}
